<p>Welcome, <%= current_user.username%> </p> 

    <a href="/tweets/new">
    <br>
    <button>Create a new Post</button>
    </a>
    
    <h4>Your Tweets ⬇️</h4>

    <% @tweets.each do |tweet|%>
    <div>
        <li><a href="/tweets/<%= tweet.id %>"> <%= tweet.content %> </a></li>
    </div>
    <% end %>

    <br><br>
<a href="/logout">
    <button>Logout</button>
</a>