<h1>Index!</h1>


<button id="signup">
    <a href="/signup">SignUp</a>
</button>

<button id="login">
    <a href="/login">Login</a>
</button>

<style>
    a:link {
        text-decoration: none;
    }

    #login:hover {
        background-color: lightgreen;
        transition: 0.7s;
    }

    #signup:hover {
        background-color: lightblue;
        transition: 0.7s;
    }
</style>